body {
    background: #222222;
    font-family: sans-serif;
}

h1 {
    color: #fc9c1f;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 50px;
    text-align: center;
}

.content {
    background: rgb(75, 75, 75);
    max-width: 960px;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 20px rgba(58, 58, 58, 0.897)
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 20px;
    background: #2e2e2e;
    font-size: 20px;
    color: rgb(253, 154, 42);
    position: relative;
    height: 46px;
    border-radius: 5px;
    margin-bottom: 20px;
}

li span {
    display: block;
    font-weight: bold;
}

li span:nth-child(2) {
    font-size: 16px;
    margin-top: 6px;
    color: rgb(173, 173, 173);
}

li div {
    position: absolute;
    top: 0;
    right: 0px;
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

form input {
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus {
    outline: none;
    border-bottom: 3px solid #f5a62f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after {
    content: '';
    clear: both;
    display: block;
}

button {
    border: 0;
    background: rgb(252, 150, 17);
    border-radius: 10px;
    padding: 13px;
    width: 15%;
    margin-left: 20px;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-size: 16px;
}